node-red/.flows.json.backup
[{"id":"d7d59c4b.6a657","type":"tab","label":"Nest Mini spil mp3 -virker","disabled":true,"info":""},{"id":"8880016.e6a72","type":"tab","label":"Kontorlys","disabled":true,"info":""},{"id":"60380920.d51f18","type":"tab","label":"sunset - sunrise","disabled":true,"info":""},{"id":"358a16a6c137b774","type":"tab","label":"carport","disabled":true,"info":""},{"id":"86ce6d62a174df7f","type":"tab","label":"Hue Filament","disabled":false,"info":"","env":[]},{"id":"20b81b5b.682884","type":"subflow","name":"Tradfri light color","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"cfd6ffb7.b8e4e"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"f15678f1.af5018","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"57bada58.ec51c4","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"22f5da40.d3e236","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"8ac3cd7f.58d3e","type":"server","name":"Home Assistant","version":1,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"9f4e1e5d.a65d68","type":"ui_group","name":"Bulbs","tab":"a0ef1d6c.c0bc1","order":1,"disp":true,"width":"6","collapse":false},{"id":"8a2e80be.f7c928","type":"mqtt-broker","name":"MQTT host","broker":"192.168.0.99","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"ARDUINO_STATUS","birthQos":"2","birthPayload":"connected","willTopic":"ARDUINO_STATUS","willQos":"0","willPayload":"disconnected"},{"id":"a0ef1d6c.c0bc1","type":"ui_tab","name":"Real World Control (Relays etc)","icon":"dashboard","disabled":false,"hidden":false},{"id":"59057c57.8984b4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9bc5e3b7.87534","type":"ui_group","name":"HOME","tab":"57c688f9.3fc498","order":1,"disp":true,"width":"6","collapse":false},{"id":"5215b5bc.f7c15c","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"57c688f9.3fc498","type":"ui_tab","name":"RED Home","icon":"RED dashboard","disabled":false,"hidden":false},{"id":"b805682b.1077a8","type":"server","name":"Home Assistant","version":1,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"9f086959.46c608","type":"api-call-service","z":"20b81b5b.682884","name":"Turn on lights","server":"b805682b.1077a8","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"{\"transition\":1}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":420,"y":60,"wires":[[]]},{"id":"5c5cbc36.782294","type":"api-call-service","z":"20b81b5b.682884","name":"Set color","server":"b805682b.1077a8","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"{\"transition\":2}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":540,"y":120,"wires":[[]]},{"id":"2c870fe0.7aef","type":"delay","z":"20b81b5b.682884","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":400,"y":120,"wires":[["5c5cbc36.782294"]]},{"id":"cfd6ffb7.b8e4e","type":"function","z":"20b81b5b.682884","name":"Split payload","func":"br = {\n    payload: {\n        data: {\n            entity_id: msg.payload.entity_id,\n            brightness_pct: msg.payload.brightness_pct\n        }\n    }\n}\n\ncolor = {\n    payload: {\n        data: {\n            entity_id: msg.payload.entity_id,\n            rgb_color: msg.payload.rgb_color\n        }\n    }\n}\n\nwarmth = {\n    payload: {\n        data: {\n            entity_id: msg.payload.entity_id,\n            color_temp: msg.payload.color_temp\n        }\n    }\n}\n\nreturn [br, color, warmth]\n","outputs":3,"noerr":0,"x":170,"y":100,"wires":[["9f086959.46c608"],["2c870fe0.7aef"],[]]},{"id":"a21f1807.41d7f8","type":"cast-to-client","z":"d7d59c4b.6a657","name":"","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":650,"y":200,"wires":[["fba1eb3.2515918"]],"icon":"node-red-contrib-cast/google-home-mini2.svg"},{"id":"74313baf.f282f4","type":"inject","z":"d7d59c4b.6a657","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":200,"wires":[["53d91dd8.67b924"]]},{"id":"53d91dd8.67b924","type":"change","z":"d7d59c4b.6a657","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"10.0.0.60","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://vognsen.com/media/doorbell-1.mp3","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[["a21f1807.41d7f8"]]},{"id":"fba1eb3.2515918","type":"debug","z":"d7d59c4b.6a657","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":200,"wires":[]},{"id":"9ef34079.24061","type":"comment","z":"d7d59c4b.6a657","name":"stream a url","info":"","x":190,"y":160,"wires":[]},{"id":"9894ee70.1279f","type":"cast-to-client","z":"d7d59c4b.6a657","name":"","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":650,"y":380,"wires":[["6595d60e.847688"]],"icon":"node-red-contrib-cast/google-home-mini2.svg"},{"id":"81eee66.7f7d918","type":"inject","z":"d7d59c4b.6a657","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":380,"wires":[["6b7e0ff8.7d116"]]},{"id":"6b7e0ff8.7d116","type":"change","z":"d7d59c4b.6a657","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"10.0.0.60","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://10.0.0.61:8123/media/local/doorbell-1.mp3?authSig=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiI1NGMyY2JiNmQ0ZTY0ODQ0YmJmOTA4OTYwMWEyMGJkYyIsInBhdGgiOiIvbWVkaWEvbG9jYWwvZG9vcmJlbGwtMS5tcDMiLCJpYXQiOjE2MTQ2MTA4MjMsImV4cCI6MTYxNDYxMDg1M30.IRnsE4yL0acg87ZmFD3C8O1Z-DAANJCwN1AkVy9PTaE","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":380,"wires":[["9894ee70.1279f"]]},{"id":"6595d60e.847688","type":"debug","z":"d7d59c4b.6a657","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":380,"wires":[]},{"id":"338c007b.9c31d","type":"comment","z":"d7d59c4b.6a657","name":"stream a url","info":"","x":190,"y":340,"wires":[]},{"id":"cf18b8af.c8ff28","type":"cast-to-client","z":"d7d59c4b.6a657","name":"","url":"http://10.0.0.61:8123/media/local/doorbell-1.mp3?authSig=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiI1NGMyY2JiNmQ0ZTY0ODQ0YmJmOTA4OTYwMWEyMGJkYyIsInBhdGgiOiIvbWVkaWEvbG9jYWwvZG9vcmJlbGwtMS5tcDMiLCJpYXQiOjE2MTQ2MTA4MjMsImV4cCI6MTYxNDYxMDg1M30.IRnsE4yL0acg87ZmFD3C8O1Z-DAANJCwN1AkVy9PTaE","contentType":"audio/mp3","message":"","language":"en","ip":"10.0.0.60","port":"8009","volume":"","x":620,"y":540,"wires":[["acfbdc55.44e6"]],"icon":"node-red-contrib-cast/google-home-mini2.svg"},{"id":"d5165766.5bb4c8","type":"inject","z":"d7d59c4b.6a657","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":540,"wires":[["cf18b8af.c8ff28"]]},{"id":"acfbdc55.44e6","type":"debug","z":"d7d59c4b.6a657","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":540,"wires":[]},{"id":"af4ddca0.97421","type":"comment","z":"d7d59c4b.6a657","name":"stream a url","info":"","x":230,"y":500,"wires":[]},{"id":"eef31cb4.ef3f","type":"debug","z":"8880016.e6a72","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":160,"wires":[]},{"id":"29113fd8.fc6b9","type":"inject","z":"8880016.e6a72","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":520,"wires":[["f1d64004.c4e33"]]},{"id":"f1d64004.c4e33","type":"api-call-service","z":"8880016.e6a72","name":"Light Toggle","server":"22f5da40.d3e236","version":3,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bedroom_1_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":520,"wires":[[]]},{"id":"1c31998a.d0e276","type":"inject","z":"8880016.e6a72","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":560,"wires":[["a068d49b.7e8ee8"]]},{"id":"a068d49b.7e8ee8","type":"api-call-service","z":"8880016.e6a72","name":"Switch Toggle","server":"22f5da40.d3e236","version":3,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.plug_1_switch","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":560,"wires":[[]]},{"id":"46dd7df5.c20044","type":"server-state-changed","z":"8880016.e6a72","name":"Dim2 Action","server":"22f5da40.d3e236","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ikea_knap_2_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":360,"wires":[["234a9ca.00b3264","2a80380f.538638"]]},{"id":"234a9ca.00b3264","type":"switch","z":"8880016.e6a72","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":490,"y":340,"wires":[["74526c62.02e1e4"],["d21d3b49.256e58"],["acce7215.561de"],["4f344c64.7f40a4"],[]]},{"id":"74526c62.02e1e4","type":"api-call-service","z":"8880016.e6a72","name":"Light on","server":"22f5da40.d3e236","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kontor_lidl","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":260,"wires":[["6afc9138.86d94"]]},{"id":"d21d3b49.256e58","type":"api-call-service","z":"8880016.e6a72","name":"Light Off","server":"22f5da40.d3e236","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kontor_lidl","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":320,"wires":[["f75165fd.054b18"]]},{"id":"acce7215.561de","type":"api-call-service","z":"8880016.e6a72","name":"Plug On","server":"22f5da40.d3e236","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_1_switch","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":380,"wires":[[]]},{"id":"4f344c64.7f40a4","type":"api-call-service","z":"8880016.e6a72","name":"Plug Off","server":"22f5da40.d3e236","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_1_switch","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":440,"wires":[[]]},{"id":"6afc9138.86d94","type":"debug","z":"8880016.e6a72","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":260,"wires":[]},{"id":"f75165fd.054b18","type":"debug","z":"8880016.e6a72","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":320,"wires":[]},{"id":"2a80380f.538638","type":"debug","z":"8880016.e6a72","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":540,"wires":[]},{"id":"c2dd8442.d2b338","type":"server-state-changed","z":"8880016.e6a72","name":"Dim1 Action","server":"22f5da40.d3e236","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ikea_knap_1_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":160,"wires":[["eef31cb4.ef3f"]]},{"id":"3d181969.1c58b6","type":"bigtimer","z":"60380920.d51f18","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":"55.675399","lon":"12.374868","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"Tænd Plug","outtext2":"Sluk Plug","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":100,"y":160,"wires":[["42ff1408.442e1c"],[],[]]},{"id":"42ff1408.442e1c","type":"switch","z":"60380920.d51f18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":180,"wires":[["6c611763.797ef8"],["7b8bd110.90b9"]]},{"id":"6c611763.797ef8","type":"api-call-service","z":"60380920.d51f18","name":"Tænd lys Terrasse","server":"57bada58.ec51c4","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.on_off_plug_in_unit_11","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":140,"wires":[["73565582.5e653c"]]},{"id":"7b8bd110.90b9","type":"api-current-state","z":"60380920.d51f18","name":"Er lyset tændt","server":"57bada58.ec51c4","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.on_off_plug_in_unit_11","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":540,"y":240,"wires":[["14e70376.50a6ed"],[]]},{"id":"14e70376.50a6ed","type":"api-call-service","z":"60380920.d51f18","name":"Sluk lys Terrasse","server":"57bada58.ec51c4","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.on_off_plug_in_unit_11","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":240,"wires":[["b9430202.93115"]]},{"id":"73565582.5e653c","type":"debug","z":"60380920.d51f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":140,"wires":[]},{"id":"e85c30cb.f8c51","type":"inject","z":"60380920.d51f18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":100,"wires":[["6c611763.797ef8"]]},{"id":"38e3accb.3c21e4","type":"inject","z":"60380920.d51f18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":560,"y":320,"wires":[["14e70376.50a6ed"]]},{"id":"b9430202.93115","type":"debug","z":"60380920.d51f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":300,"wires":[]},{"id":"bec486b0.95d428","type":"inject","z":"60380920.d51f18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":260,"wires":[["7b8bd110.90b9"]]},{"id":"378e7134078b5d62","type":"bigtimer","z":"358a16a6c137b774","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":"55.675399","lon":"12.374868","starttime":"5004","endtime":"5003","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"Tænd Plug","outtext2":"Sluk Plug","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":false,"may":false,"jun":false,"jul":false,"aug":true,"sep":false,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":140,"y":200,"wires":[["d1d0f323746fbd03"],[],[]]},{"id":"d1d0f323746fbd03","type":"switch","z":"358a16a6c137b774","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":200,"wires":[["184551c14762f0d6"],["a9724271c9503bac"]]},{"id":"a9724271c9503bac","type":"api-current-state","z":"358a16a6c137b774","name":"Er lyset tændt","server":"57bada58.ec51c4","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.on_off_plug_in_unit_12","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":560,"y":260,"wires":[["48093a084b4ab7d3"],[]]},{"id":"b19d35991e0afbdb","type":"debug","z":"358a16a6c137b774","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":180,"wires":[]},{"id":"f5dad571b0a561ad","type":"inject","z":"358a16a6c137b774","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":120,"wires":[["184551c14762f0d6"]]},{"id":"e9e0e9ce294ec5c2","type":"inject","z":"358a16a6c137b774","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":360,"wires":[["48093a084b4ab7d3"]]},{"id":"5095701f359b695c","type":"debug","z":"358a16a6c137b774","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":300,"wires":[]},{"id":"184551c14762f0d6","type":"api-call-service","z":"358a16a6c137b774","name":"Tænd lys Carport","server":"57bada58.ec51c4","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.on_off_plug_in_unit_12","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":180,"wires":[["b19d35991e0afbdb"]]},{"id":"48093a084b4ab7d3","type":"api-call-service","z":"358a16a6c137b774","name":"Sluk lys Carport","server":"57bada58.ec51c4","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.on_off_plug_in_unit_12","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":300,"wires":[["5095701f359b695c"]]},{"id":"a7c12630af7ae375","type":"inject","z":"358a16a6c137b774","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":300,"wires":[["a9724271c9503bac"]]},{"id":"bdf46861e48b0cc8","type":"bigtimer","z":"86ce6d62a174df7f","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","comment":"","lat":"55.675399","lon":"12.374868","starttime":"5004","endtime":"60","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"Tænd Plug","outtext2":"Sluk Plug","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":140,"y":120,"wires":[["b34708bb631e5228"],[],[]]},{"id":"b34708bb631e5228","type":"switch","z":"86ce6d62a174df7f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":140,"wires":[["b30e870aca7df3ba"],["0e94a6ab38252265"]]},{"id":"0e94a6ab38252265","type":"api-current-state","z":"86ce6d62a174df7f","name":"Er lyset tændt","server":"57bada58.ec51c4","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.on_off_plug_in_unit_11","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":580,"y":200,"wires":[["5e60f7be30d217d6"],[]]},{"id":"47caa30f1dcbef82","type":"debug","z":"86ce6d62a174df7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":60,"wires":[]},{"id":"4a4572a6e7fea274","type":"inject","z":"86ce6d62a174df7f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":60,"wires":[["b30e870aca7df3ba"]]},{"id":"014f6ab40338f363","type":"inject","z":"86ce6d62a174df7f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":600,"y":320,"wires":[["5e60f7be30d217d6"]]},{"id":"b30e870aca7df3ba","type":"api-call-service","z":"86ce6d62a174df7f","name":"Tænd lys Hue Filament","server":"57bada58.ec51c4","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmable_light_8","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":60,"wires":[["47caa30f1dcbef82"]]},{"id":"5e60f7be30d217d6","type":"api-call-service","z":"86ce6d62a174df7f","name":"Sluk lys Hue Filament","server":"57bada58.ec51c4","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmable_light_8","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":260,"wires":[["f8bc675187e4e229"]]},{"id":"f8bc675187e4e229","type":"debug","z":"86ce6d62a174df7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":260,"wires":[]},{"id":"a942c75d166e1f9e","type":"inject","z":"86ce6d62a174df7f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":240,"wires":[["0e94a6ab38252265"]]},{"id":"d1c0b8e0fe61f969","type":"server-state-changed","z":"86ce6d62a174df7f","name":"Indkørsels Motion Sensor","server":"8ac3cd7f.58d3e","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":" binary_sensor.hue_outdoor_sensor_indkorsel_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":440,"wires":[[],["892dce62df5ce763"]]},{"id":"892dce62df5ce763","type":"time-range-switch","z":"86ce6d62a174df7f","name":"Efter kl. 01:00","lat":"55.6754634","lon":"12.3726899","startTime":"01:00","endTime":"sunrise","startOffset":"","endOffset":"","x":480,"y":440,"wires":[["7af909da105c2571","516f42547c49c8d2"],[]]},{"id":"7af909da105c2571","type":"api-current-state","z":"86ce6d62a174df7f","name":"Light Off Filament?","server":"8ac3cd7f.58d3e","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.dimmable_light_8","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":730,"y":400,"wires":[[],["49014b33c8f33fb4"]]},{"id":"49014b33c8f33fb4","type":"api-call-service","z":"86ce6d62a174df7f","name":"Tænd lys","server":"8ac3cd7f.58d3e","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmable_light_8","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1000,"y":400,"wires":[[]]},{"id":"516f42547c49c8d2","type":"stoptimer","z":"86ce6d62a174df7f","duration":"12","units":"Minute","payloadtype":"num","payloadval":"0","name":"12min","x":690,"y":460,"wires":[["e0410cc92a4db2b7"],[]]},{"id":"e0410cc92a4db2b7","type":"switch","z":"86ce6d62a174df7f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":868.3333015441895,"y":460.00000286102295,"wires":[["d4520fe5545d463b"]]},{"id":"d4520fe5545d463b","type":"api-call-service","z":"86ce6d62a174df7f","name":"Sluk lys","server":"8ac3cd7f.58d3e","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"light.dimmable_light_8","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1007.5001754760742,"y":460.00003147125244,"wires":[[]]},{"id":"07287401202298c2","type":"server-state-changed","z":"86ce6d62a174df7f","name":"Hall Motion Sensor","server":"8ac3cd7f.58d3e","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.shelly_motion_sensor_hall_motion","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":500,"wires":[[],["892dce62df5ce763"]]},{"id":"1996876d1fbd7cfc","type":"inject","z":"86ce6d62a174df7f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":360,"wires":[["7af909da105c2571"]]},{"id":"73c39f0fd2686632","type":"inject","z":"86ce6d62a174df7f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":560,"wires":[["516f42547c49c8d2"]]}]